<?php
use Doctrine\DBAL\Driver\PDOMySql\Driver as PDOMySqlDriver;

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * NOTE: This file is ignored from Git by default with the .gitignore included
 * in laminas-mvc-skeleton. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
  'doctrine' => [
      'connection' => [
          'orm_default' => [
              'driverClass' => PDOMySqlDriver::class,
              'params' => [
                  'host'     => '127.0.0.1',
                  'user'     => '',
                  'password' => '',
                  'dbname'   => '',
              ]
          ],
      ],
  ],
  'db'=>[
    'username' => '',
    'password' => '',
      // to allow other adapter to be called by
      'adapters' =>[
        'Application\Db\OrganisasiAdapter' => [
            'username' => '',
            'password' => '',
          ],
      ],

  ],
];